@model Taxi.UI.Models.Calls.CallCollectionViewModel;

@{
	ViewData["Title"] = "Текущие рабочие вызовы";
}

<form asp-action="DispatcherCalls" method="get">

	<div class="form-row float-left">
		<div class="form-group w-25">
			<label>Водитель</label>
			@if (Model.DriverId != 0)
			{
				<select name="driverId" class="form-control" asp-for="DriverId" asp-items="@(new SelectList(Model.Drivers, "Id", "FullName",
			Model.Drivers.FirstOrDefault(x => x.Id == Model.DriverId).FullName))"></select>
			}
			else
			{
				<select name="driverId" class="form-control" asp-for="DriverId" asp-items="@(new SelectList(Model.Drivers, "Id", "FullName"))"></select>
			}
		</div>
		<div class="form-group ml-2" style="width: 20%;">
			<label>Тариф</label>
			@if (Model.TariffId != 0)
			{
				<select name="tariffId" class="form-control" asp-for="TariffId" asp-items="@(new SelectList(Model.Tariffs, "Id", "Name",
			Model.Tariffs.FirstOrDefault(x => x.Id == Model.TariffId).Name))"></select>
			}
			else
			{
				<select name="tariffId" class="form-control" asp-for="TariffId" asp-items="@(new SelectList(Model.Tariffs, "Id", "Name"))"></select>
			}
		</div>
		<div class="form-group ml-2 w-25">
			<label>Год и день</label>
			@if (Model.Date != null)
			{
				<input type="date" class="form-control" name="date" asp-for="Date" value="@Model.Date.Value.GetHtmlInputFormat()" />
			}
			else
			{
				<input type="date" class="form-control" name="date" asp-for="Date" value="@Model.DateStringFormat" />
			}
		</div>
		<div class="float-left ml-3 mt-4">
			<label></label>
			<input type="submit" class="form-control btn btn-info" value="Найти" />
		</div>
	</div>

	<table class=" table table-striped">
		<tr>
			<th>Телефон</th>
			<th>Стоимость</th>
			<th>Время вызова</th>
			<th>Начальный адрес</th>
			<th>Конечный адрес</th>
			<th>Водитель</th>
			<th>Диспетчер</th>
			<th>Действия</th>
		</tr>

		@foreach (var item in Model.Calls)
		{
			<tr>
				<td>@item.Phone</td>
				<td>@item.Price</td>
				<td>@($"{item.CallDateTime.ToShortDateString()} {item.CallDateTime.ToShortTimeString()}")</td>
				<td>@($"{item.StartStreet} {item.StartHomeNumber}")</td>
				<td>@($"{item.EndStreet} {item.EndHomeNumber}")</td>
				<td>@item.DriverFullName</td>
				<td>@item.DispatherFullName</td>
				<td>
					<a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">
						Удалить
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
							<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
							<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
						</svg>
					</a>
				</td>
			</tr>
		}
	</table>

	<pagination count-pages="Model.CountPages" name="page" asp-action="Index" asp-controller="Call" current-page="Model.CurrentPage"></pagination>

</form>

