@model Taxi.UI.Models.Calls.CallCollectionViewModel;

@{
	ViewData["Title"] = "Вызовы";
}

<div class="form-group">
	<a class="btn btn-warning" asp-action="PopularAddresses">Популярные адреса по месяцам этого года</a>
</div>

<form asp-action="Index" class="mt-4" method="get">
	<div class="form-row float-left">
		<div class="form-group w-25">
			<label>Водитель</label>
			@if (Model.DriverId != 0)
			{
				<select name="driverId" class="form-control" asp-for="DriverId" asp-items="@(new SelectList(Model.Drivers, "Id", "FullName",
			Model.Drivers.FirstOrDefault(x => x.Id == Model.DriverId).FullName))"></select>
			}
			else
			{
				<select name="driverId" class="form-control" asp-for="DriverId" asp-items="@(new SelectList(Model.Drivers, "Id", "FullName"))"></select>
			}
		</div>
		<div class="form-group ml-2" style="width: 20%;">
			<label>Диспетчер</label>
			@if (Model.DispatherId != 0)
			{
				<select name="dispatherId" class="form-control" asp-for="DispatherId" asp-items="@(new SelectList(Model.Dispathers, "Id", "FullName",
			Model.Dispathers.FirstOrDefault(x => x.Id == Model.DispatherId).FullName))"></select>
			}
			else
			{
				<select name="dispatherId" class="form-control" asp-for="DispatherId" asp-items="@(new SelectList(Model.Dispathers, "Id", "FullName"))"></select>
			}
		</div>
		<div class="form-group ml-2" style="width: 20%;">
			<label>Тариф</label>
			@if (Model.TariffId != 0)
			{
				<select name="tariffId" class="form-control" asp-for="TariffId" asp-items="@(new SelectList(Model.Tariffs, "Id", "Name",
			Model.Tariffs.FirstOrDefault(x => x.Id == Model.TariffId).Name))"></select>
			}
			else
			{
				<select name="tariffId" class="form-control" asp-for="TariffId" asp-items="@(new SelectList(Model.Tariffs, "Id", "Name"))"></select>
			}
		</div>
		<div class="form-group ml-2" style="width: 20%;">
			<label>Год и день</label>
			@if (Model.Date != null)
			{
				<input type="date" class="form-control" name="date" asp-for="Date" value="@Model.Date.Value.ToShortDateString()" />
			}
			else
			{
				<input type="date" class="form-control" name="date" asp-for="Date" />
			}
		</div>
		<div class="float-left ml-3 mt-4">
			<label></label>
			<input type="submit" class="form-control btn btn-info" value="Найти" />
		</div>
	</div>

	<table class=" table table-striped">
		<tr>
			<th>Телефон</th>
			<th>Стоимость</th>
			<th>Время вызова</th>
			<th>Начальный адрес</th>
			<th>Конечный адрес</th>
			<th>Водитель</th>
			<th>Диспетчер</th>
		</tr>

		@foreach (var item in Model.Calls)
		{
			<tr>
				<td>@item.Phone</td>
				<td>@item.Price</td>
				<td>@($"{item.CallDateTime.ToShortDateString()} {item.CallDateTime.ToShortTimeString()}")</td>
				<td>@($"{item.StartStreet} {item.StartHomeNumber}")</td>
				<td>@($"{item.EndStreet} {item.EndHomeNumber}")</td>
				<td>@item.DriverFullName</td>
				<td>@item.DispatherFullName</td>
			</tr>
		}
	</table>

	<pagination count-pages="Model.CountPages" name="page" asp-action="Index" asp-controller="Call" current-page="Model.CurrentPage"></pagination>

</form>

