@model Taxi.UI.Models.Calls.CallAddressCollectionViewModel;

@{
	ViewData["Title"] = "Популярные адреса";
}

<br /><h3>Популярные адреса вызовов по месяцам</h3><br />

<table class="table table-striped">
	<tr>
		<th>Месяц</th>
		<th>Начальный адрес</th>
		<th>Количество вызовов</th>
		<th>Конечный адрес</th>
		<th>Количество вызовов</th>
	</tr>


	@for (int i = 0; i < Model.StartAddresses.Count; i++)
	{
		<tr>
			<td>@Model.StartAddresses[i].Month</td>
			<td>@Model.StartAddresses[i].Address</td>
			<td>@Model.StartAddresses[i].CountAddresses</td>

			<td>@Model.EndAddresses[i].Address</td>
			<td>@Model.EndAddresses[i].CountAddresses</td>	
		</tr>
	}
</table>
 