@model Taxi.UI.Models.Calls.UserCallViewModel;

@{
	ViewData["Title"] = "Заказ такси";
}

<form asp-controller="Home" asp-action="IndexCall" method="get">

	<label>Номер телефона</label><br />
	<input type="text" asp-for="Phone" value="@Model.Phone" /><br />

	<label>Адрес отправления</label><br>
	<input type="text" asp-for="StartStreet" value="@Model.StartStreet" />
	<input type="number" asp-for="StartHomeNumber" value="@Model.StartHomeNumber" /><br />

	<label>Адрес прибытия</label><br>
	<input type="text" asp-for="EndStreet" value="@Model.EndStreet" />
	<input type="number" asp-for="EndHomeNumber" value="@Model.EndHomeNumber" /><br />

	<label>Тариф</label>
	@if (Model.TariffId != 0)
	{
		<select asp-for="TariffId" asp-items="@(new SelectList(Model.Tariffs, "Id", "Name", 
			Model.Tariffs.FirstOrDefault(x => x.Id == Model.TariffId)))"></select><br /><br />
	}
	<select asp-for="TariffId" asp-items="@(new SelectList(Model.Tariffs, "Id", "Name"))"></select><br /><br />



	<input type="submit" value="Заказать" />
</form>