@model Taxi.UI.Models.Calls.SuccessUserCallViewModel;

@{
	ViewData["Title"] = "Подробности заказа";
}

<style>
	.validation-form {
		width: 60%;
	}

	.validation {
		float: right;
		margin-top: 5%;
		margin-right: 3%;
	}
</style>

<div class="wrapper mt-3">
<form class="validation-form" asp-controller="Home" asp-action="IndexCall" method="post">

	<div class="form-row">
		<div class="form-group">
			<label>Номер телефона</label>
			<input type="text" readonly class="form-control" asp-for="UserCall.Phone" value="@Model.UserCall.Phone" />
		</div>
		<div class="form-group col-md-5">
			<label>Тариф</label>
			<input type="text" readonly class="form-control" value="@Model.TariffName" />
		</div>
	</div>

	<div class="form-row">
		<div class="form-group col-md-5">
			<label>Начальная улица</label>
			<input type="text" readonly class="form-control " asp-for="UserCall.StartStreet" value="@Model.UserCall.StartStreet" />
		</div>
		<div class="form-group col-md-5">
			<label>Начальный дом</label>
			<input type="number" readonly class="form-control w-50" asp-for="UserCall.StartHomeNumber" value="@Model.UserCall.StartHomeNumber" />
		</div>
	</div>

	<div class="form-row">
		<div class="form-group col-md-5">
			<label>Конечная улица</label>
			<input type="text" readonly class="form-control" asp-for="UserCall.EndStreet" value="@Model.UserCall.EndStreet" />
		</div>
		<div class="form-group col-md-5">
			<label>Конечный дом</label>
			<input type="number" readonly class="form-control w-50" asp-for="UserCall.EndHomeNumber" value="@Model.UserCall.EndHomeNumber" /><br />
		</div>
	</div>

	<ul class="list-group w-75 mb-4">
		<li class="list-group-item">
			<b>Водитель: </b>@Model.DriverFullName
		</li>
		<li class="list-group-item">
			<b>Автомобиль: </b>@Model.CarName
		</li>
		<li class="list-group-item">
			<b>Регистрационный номер: </b>@Model.RegistrationName
		</li>
		<li class="list-group-item">
			<b>Цена: </b>@Model.Price
		</li>
	</ul>

	<input style="display: none" type="number" asp-for="DriverId" value="@Model.DriverId" />
	<input style="display: none" type="number" asp-for="DispatherId" value="@Model.DispatherId" />
	<input style="display: none" type="number" asp-for="CarId" value="@Model.CarId" />
	<input style="display: none" type="number" asp-for="Price" value="@Model.Price" />
	<input style="display: none" type="text" asp-for="RegistrationName" value="@Model.RegistrationName" />
	<input style="display: none" type="text" asp-for="CarName" value="@Model.CarName" />
	<input style="display: none" type="text" asp-for="DriverFullName" value="@Model.DriverFullName" />
	<input style="display: none" type="text" asp-for="TariffName" value="@Model.TariffName" />

	@if (Model.IsSuccessed)
	{
		<h2 style="color: green;">Заказ подтвержден</h2>
	}
	else
	{
		<input class="btn btn-warning" type="submit" value="Подтвердить" />
	}
</form>
</div>
