@model Taxi.UI.Models.Users.UserViewModel;

@{
	ViewData["Title"] = "Личный кабинет";
}

<h2>Имя: @Model.Surname @Model.Name</h2>
<h3>Должность: @Model.PositionName</h3><br />
<h3>Роль пользователя: @Model.RoleName</h3><br />
<h3>Email: @Model.Email</h3><br />

<p>Начало работы: @Model.StartWork.ToShortDateString()</p>


<br />
<form method="post">
	<input type="submit" asp-controller="Account" asp-action="Logout" value="Выйти" />
</form>
<form method="get">
	<input type="submit" asp-controller="User" asp-action="ChangeEmail" value="Изменить email" />
</form>
<form method="get">
	<input type="submit" asp-controller="User" asp-action="ChangePassword" value="Изменить пароль" />
</form>
