@model IEnumerable<Taxi.UI.Models.Tariffs.TariffViewModel>;

@{
	ViewData["Title"] = "Управление тарифами";
}

<a asp-action="Create">Создать новый тариф</a>
<br />

<table class="table table-striped">
	<tr>
		<th>Имя</th>
		<th>Описание</th>
		<th>Цена</th>
		<th>Действия</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Name</td>
			<td>@item.Description</td>
			<td>@item.Price</td>
			<td>
				<a asp-action="Delete" asp-route-id="@item.Id">Удалить</a> |
				<a asp-action="Update" asp-route-id="@item.Id">Изменить</a>
			</td>
		</tr>
	}
</table>
