@model Taxi.UI.Models.CarModels.ModelCollectionViewModel;

@{
	ViewData["Title"] = "Управление моделями машин";
}

<a asp-action="Create" class="btn btn-success mb-2" asp-controller="ModelCar">Создать модель</a>

<form asp-action="Index" asp-controller="ModelCar" method="get">

	<div class="mb-3">
		<label>Выберить марку автомобиля</label>
		@if (Model.Id != 0)
		{
			<select class="form-control w-25 d-inline" asp-for="Id" asp-items="@(new SelectList(
				Model.Brands, "Id", "Name",
				Model.Brands.FirstOrDefault(x => x.Id == Model.Id).Name))"></select>
		}
		else
		{	
			<select asp-for="Id" class="form-control w-25 d-inline" asp-items="@(new SelectList(Model.Brands, "Id", "Name"))"></select>
		}
		<input type="submit" class="btn btn-info d-inline" value="Найти" />
	</div>	

<table class=" table table-striped">
	<tr>
		<th>Название</th>
		<th>Кузов</th>
		<th>Топливо</th>
		<th>Мощность, л.с.</th>
		<th>Стоимость</th>
		<th>Действия</th>
	</tr>

	@foreach (var item in Model.Models)
	{
		<tr>
			<td>@item.Name</td>
			<td>@item.Body</td>
			<td>@item.Fuel</td>
			<td>@item.HP</td>
			<td>@item.Price</td>
			<td>
				<a asp-action="Update" class="btn btn-primary opacity-90" asp-route-id="@item.Id">
					Изменить
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
						<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
						<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
					</svg>
				</a>
				<a asp-action="Delete" class="btn btn-danger opacity-90" asp-route-id="@item.Id">
					Удалить
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
						<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
						<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
					</svg>
				</a>
			</td>
		</tr>
	}

</table>

		<pagination count-pages="Model.CountPages" name="page" asp-action="Index" asp-controller="ModelCar" current-page="Model.CurrentPage"></pagination>

</form>