@model Taxi.UI.Models.CarModels.ModelViewModel;

@{
	ViewData["Title"] = "Изменение модели";
}

<form asp-action="Update" asp-controller="ModelCar" method="post">

	<input style="display:none" type="number" name="Id" value="@Model.Id" />

	<div class="form-row w-50">
		<div class="form-group col">
			<label>Марка автомобиля</label>
			<select asp-for="BrandId" class="form-control" asp-items="@(new SelectList(
			Model.Brands, "Id", "Name",
			Model.Brands.FirstOrDefault(x => x.Id == Model.BrandId).Name))">
			</select>
		</div>
		<div class="form-group col">
			<label>Название</label>
			<input type="text" class="form-control" required maxlength="30" name="Name" value="@Model.Name" />
		</div>
	</div>

	<div class="form-row w-50">
		<div class="form-group col">
			<label>Вид топлива</label><br />
			<select asp-for="FuelId" class="form-control" asp-items="@(new SelectList(Model.Fuels, "Id", "Name",
															Model.Fuels.FirstOrDefault(x => x.Id == Model.FuelId)))">
			</select>
		</div>
		<div class="form-group col">
			<label>Кузов</label><br />
			<select asp-for="BodyId" class="form-control" asp-items="@(new SelectList(Model.Bodys, "Id", "Name",
															Model.Bodys.FirstOrDefault(x => x.Id == Model.FuelId)))">
			</select>
		</div>
	</div>

	<div class="form-row w-50">
		<div class="form-group col">
			<label>Мощность, л.с.</label>
			<input type="number" class="form-control" required min="50" max="2000" name="HP" value="@Model.HP" />
		</div>
		<div class="form-group col">
			<label>Цена</label>
			<input type="number" class="form-control" required min="0" max="1000000000" name="Price" value="@Model.Price" />
		</div>
	</div>

	<input type="submit" class="btn btn-primary mt-3"  value="Изменить" />

</form>
