@model Taxi.UI.Models.Cars.CarCreateUpdateViewModel;

@{
	ViewData["Title"] = "Добавление автомобиля";
}

<form action="Create" method="post">
	<ul class="list-group w-25 mb-4">
		<li class="list-group-item d-inline">
			<b>Марка автомобиля: </b>@Model.BrandName
		</li>
	</ul>

	<div class="form-row">
		<div class="form-group w-25">
			<label>Модель автомобиля</label>
			<select name="ModelId" class="form-control" asp-items="@(new SelectList(Model.Models, "Id", "Name"))"></select>
		</div>
		<div class="form-group w-25 ml-3">
			<label>Регистрационный номер</label>
			<input type="text" class="form-control" required maxlength="9" name="RegistrationNumber" />
		</div>
		<div class="form-group w-25 ml-3">
			<label>Номер кузова</label>
			<input type="number" class="form-control" required max="@Math.Pow(10, 10)" name="BodyNumber" />
		</div>
	</div>

	<div class="form-row mt-2">
		<div class="form-group w-25">
			<label>Номер двигателя</label>
			<input type="number" class="form-control" required max="@Math.Pow(10, 10)" name="EngineNumber" />
		</div>
		<div class="form-group w-25 ml-3">
			<label>Пробег</label>
			<input type="number" class="form-control" required max="10000000" min="0" name="Mileage" />
		</div>
		<div class="form-group w-25 ml-3">
			<label>Год выпуска</label>
			<input type="number" class="form-control" required min="1900" max="@DateTime.Now.Year" name="IssueYear" />
		</div>
	</div>

	<div class="form-row mt-3">
		<div class="form-group w-25">
			<label>Дата последнего ТО</label>
			<input type="date" class="form-control" name="LastTI" />
		</div>
		<div class="form-group w-25 ml-3">
			<label>Тариф, относящийся к автомобилю</label>
			<select name="TariffId" class="form-control" asp-items="@(new SelectList(Model.Tariffs, "Id", "Name"))"></select>
		</div>
	</div>

	<div class="form-row mt-2">
		<div class="form-group w-25">
			<label>Водитель</label>
			<select name="DriverId" class="form-control" asp-items="@(new SelectList(Model.Drivers, "Id", "FullName"))"></select>
		</div>
		<div class="form-group w-25 ml-3">
			<label>Механик</label>
			<select name="MechanicId" class="form-control" asp-items="@(new SelectList(Model.Mechanics, "Id", "FullName"))"></select>
		</div>
	</div>

	<input type="submit" class="btn btn-success mt-3" value="Создать" />

</form>

