@model Taxi.UI.Models.Cars.CarCollectionViewModel

@{
	ViewData["Title"] = "Автопарк";
}

<a asp-action="ShowTICars">Машины с ТО в этом месяце</a><br />

<form asp-action="Create" asp-controller="Car" method="get">
	<select name="brandId" asp-for="BrandId" asp-items="@(new SelectList
        (Model.Brands.Where(x => x.Id != 0), "Id", "Name"))"></select>

	<input type="submit" value="Создать" /><br />
</form><br /><br />

<form>
	<label>Марка</label>
    @if (Model.BrandId != 0)
	{
		<select asp-for="BrandId" name="brandId" asp-items="@(new SelectList(
			Model.Brands, "Id", "Name",
			Model.Brands.FirstOrDefault(x => x.Id == Model.BrandId).Name))"></select>
	}
	else
	{
		<select asp-for="BrandId" name="brandId" asp-items="@(new SelectList(Model.Brands, "Id", "Name"))"></select>
	}<br />

    <label>Год выпуска, от</label>
    <input type="number" name="issueYear" asp-for="IssueYear" value="@Model.IssueYear" /><br />
    
    <label>Пробег, до (км)</label>
    <input type="number" name="mileage" asp-for="Mileage" value="@Model.Mileage" /><br />

    <label>Цена, от</label>
    <input type="number" name="price" asp-for="Price" value="@Model.Price" /><br />

    <input type="submit" value="Найти" /><br />

<table class="table table-striped">
    <tr>
        <th>Модель</th>
        <th>Гос. номер</th>
        <th>Год выпуска</th>
        <th>Цена</th>
        <th>Номер кузова</th>
        <th>Номер двигателя</th>
        <th>Последнее ТО</th>
        <th>Пробег</th>
        <th>Тариф</th>
        <th>Водитель</th>
        <th>Механик</th>
        <th>Действия</th>
    </tr>

    @foreach (var item in Model.Cars)
	{
        <tr>
            <td>@item.ModelName</td>
            <td>@item.RegistrationNumber</td>
            <td>@item.IssueYear</td>
            <td>@item.Price</td>
            <td>@item.BodyNumber</td>
            <td>@item.EngineNumber</td>
            <td>@item.LastTI.ToShortDateString()</td>
            <td>@item.Mileage</td>
            <td>@item.TariffName</td>
            <td>@item.DriverFullName</td>
            <td>@item.MechanicFullName</td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                <a asp-action="Update" asp-route-id="@item.Id">Изменить</a>
            </td>
        </tr>
    }
</table>

	<pagination count-pages="Model.CountPages" name="page" asp-action="Index" asp-controller="Car" current-page="Model.CurrentPage"></pagination>

</form>